.page-album-view{
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.content-album{

    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    color:#A5A8AE;
}

.fotos-detals{
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
}

.info{
    width: 400px;
}

.header, .fotos-detals, .album-btns {
    margin: 20px
}

.views-options{
width: 400px;
display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
.views-options a{
    color: #02DBF4;
}

.page-album-view .album{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.album-btns{
    display: flex;
    justify-content: space-between;
}

.album-btns button {
    width: 200px;
    border-radius: 10px;
    color: #02DBF4;
    height: 35px;
    background-color:#20232A;
}

.album-btns .btn-delete{
    
    background: rgb(221, 95, 84);
}

.album-btns .btn-create{
    
    background: rgb(85, 125, 235);
}

.album-btns .btn-back{
    background: darkslateblue;
}

.fotos-miniature .fotos-group .image-view img{
    width: 250px;
    height: 150px;
    margin: 10px 20px 0 0;
    cursor: pointer;
}

.fotos-miniature{
    height: 500px;
    display: flex;
    justify-content: start;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    margin: 20px;
}

.fotos-miniature .fotos-group{
    display: flex;
    flex-wrap: wrap;   
    overflow: auto; 
    height: 400px;
}