.container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.add-album-component {
    position: relative;
    z-index: 1;
    left:0;
    top:0;
}

.container .heading{
    height: 100%;
    padding-bottom: 120px;
    /* margin: 50px auto 50px;  */
    background-color: #FFFFFF;

}

.container .heading .head-container .head-text {
    width: 390px;
    padding-top: 135px;
    color: #1B2E35;
}

.head-text h1{
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
}

.head-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #385A64;
    margin-top: 18px;
}

.head-text button {
    width: 155px;
    height: 50px;
    margin-top: 45px;
    background: #FF4F5A;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: all .4s ease;
    color: #FFFFFF;

}

.head-text button:hover {
    opacity: 0.9;
}


.container .heading .head-container {
    max-width: 1240px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.container .heading .head-container .header-image {
    margin-top: 87px;
}



.container .heading .head-container .header-image img {
    width: 100%;
    height: 500px;
}
.container .heading h3{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    border-bottom: 3px solid #00DCF3;
    padding-bottom: 20px;
} 


.main-container{
  max-width: 1240px;
  margin: 0 auto;
}

.main-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    justify-content: space-between;
    margin-top: 150px;
}


.container .album-galery{


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
    margin: 0 auto;
    grid-gap: 20px;



    /* margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px; */


    /* max-width: 50%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 50px; */
}


@media (max-width: 780px) {
    .container .album-galery{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 563px) {
    .container .album-galery{
        grid-template-columns: 1fr;
    }
}