.page-create-album {
    display: flex;
    color: black;
  }
  
.page-create-image main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form.create-image-form {
  overflow-y: initial;
  overflow-y: auto;


  width: 535px;
  margin: 120px 50px;
  background: #FFFFFF;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  padding: 18px 33px;
  overflow: hidden;
  
}


form.create-image-form .close-button {
  width: 30px;
  height: 30px;
  border: 0;
  cursor: pointer;
  background: #8FA7B3;
  border-radius: 50px;
  color: #FFFFFF;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}


form.create-image-form button.close-button:hover {
  background: #1C334D;
}



.create-image-form  .input-block img  {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}



form.create-image-form .input-block .images-container .buttons-image{
  display: flex;
  flex-direction: row;
}

form.create-image-form .input-block .images-container{
  display: flex;
  flex-direction: column;
}


form.create-image-form .input-block .new-image {
  height: 262px;
  background: #F5F8FA;
  border: 1px dashed #96D2F0;
  border-radius: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

form.create-image-form  .buttons-image label {
  
  width: 40px;
  height: 40px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
form.create-image-form button.button-upload-image  {
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background: #F5F8FA;
    border: none;
    border-radius: 9px;
    

    
  
    transition: background-color 0.2s;
}

form.create-image-form button.image-button svg {
    margin-right: 16px;
  }
  
  form.create-image-form button.image-button:hover {
    background: #9ea7a8;
  }
  


  form.create-image-form fieldset {
    border: 0;
  }

  form.create-image-form fieldset + fieldset {
    margin-top: 80px;
  }
  
  form.create-image-form fieldset legend {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    font-size: 22px;
    line-height: 29px;
    color: #1B2E35;
    font-weight: 700;
    border-bottom: 1px solid #D3E2E5;
    margin-bottom: 21px;
    padding-bottom: 12px;
  }
  
  
  form.create-image-form .input-block + .input-block {
    margin-top: 24px;
  }
  
  form.create-image-form .input-block label {
    display: flex;
    color: #455A64;
    margin-bottom: 1px;
    line-height: 24px;
  }
  
  form.create-image-form .input-block label span {
    font-size: 14px;
    color: #8FA7B3;
    margin-left: 24px;
    line-height: 24px;
  }
  
  
  form.create-image-form .input-block input,
  form.create-image-form .input-block textarea {
    width: 100%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    outline: none;
    color: #5C8599;
  }
  
  form.create-image-form .input-block input {
    height: 39px;
    padding: 0 16px;
  }
  
  form.create-image-form .input-block textarea {
    min-height: 120px;
    max-height: 240px;
    resize: vertical;
    padding: 16px;
    line-height: 28px;
  }
 
  
  .image-form {
    
    color: black;
    background-color: aqua;
    width: 900px; 
    margin: 64px auto;
  
    border: 1px solid #D3E2E5;
    border-radius: 20px;
  
    padding: 64px 80px;
    overflow: hidden;
  
    font-family: Arial, sans-serif;
  }
  
  form.create-image-form .input-block input[type=file]{
    display:none;
  }
  
  form.create-image-form button.confirm-button {
    margin-top: 22px;
    width: 100%;
    height: 50px;
    border: 0;
    cursor: pointer;
    background: #1c334de8;
    border-radius: 14px;
    color: #FFFFFF;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
  }
  
  form.create-image-form button.confirm-button svg {
    margin-right: 16px;
  }
  
  form.create-image-form button.confirm-button:hover {
    background: #1c334d;
  }
  
  .image-inputs,
  .photo-inputs,
  .image-photos {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }