.nav{
    width: 100vw;
    background-color: #830f47b4;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
}

.nav .logout{
    width: 250px;
    display: flex;
    justify-content: space-between;
}