#page-login{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to left top, #2c0537, #830f48, #cb463a, #ec940a, #d8eb12);

  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  width: 310px;
  height: 400px;
  display: flex;
  padding: 20px;
  flex-direction:column ;
  justify-content:center;
  align-items: center;
  background: rgba(180, 178, 187, 0.651);
  border-radius: 6px;
  box-shadow: 0 5px 35px rgba(0,0,0,0.2);
}

.box h2{
  margin-bottom: 50px;
}

.box p{
  text-align: center;
}

.form .inputBx{
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.box .form{
  position: relative;
  width: 100%;
}

.form .inputBx input, .inputBtn button{
  outline: none;
  cursor: pointer;  
  border:  rgba(255,255,255,0.1);
  padding: 4px 10px;
  border-radius: 6px;
}

.form .inputBx input{
  width: 100%;
}

.inputBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  text-decoration: none;
}